# Configs
.idea
.vscode
/src/.idea
src/Vivian.sln.DotSettings.user
artifacts

#Avoiding jups personal things
*.json
*.cache
*.props
*.dll

# Vivian
src/Vivian/bin

src/Vivian/.VSCodeCounter

# Vivian Compiler
src/Vivian.Compiler/bin
src/Vivian.Compiler/.VSCodeCounter

# Vivian Tools
src/Vivian.Tools/bin
src/Vivian.Tools/.VSCodeCounter
src/Vivian.Tools/TestResults

# Vivian Tests
src/Vivian.Tests/bin
src/Vivian.Tests/.VSCodeCounter

# Vivian Installer
src/Vivian.Installer/bin
src/Vivian.Installer/.VSCodeCounter
*.json
*.cache
*.json
*.json
*.props
.vs/Vivian/v16/.suo
*.v2
